@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>XCENTIUM Test</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Extract images and words</h2>
        <p>
            <input type="text" id="targetUrl" placeholder="Enter the URL" />
            <button class="btn btn-default" onclick="processUrl();">Process</button>
        </p>
    </div>

</div>

<div class="row">
    <div class="col-md-6">
        <p>Number of words: <label id="totalWords"></label></p>
    </div>
    <div class="col-md-6">
        <p>Top 8 words: <label id="top8Words"></label></p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <p><strong>Image Gallery</strong></p>
        <ul id="imgGallery">
            <li></li>
        </ul>
    </div>
</div>

<script >

    function processUrl() {

        var targetUrl = $('#targetUrl').val();

        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetExtractedData", "Home")',
            data: { url: targetUrl },
            cache: false,
            success: function (result) {

                $('#totalWords').html(result.NbWords);
                $('#top8Words').html(result.Top8Words);
                $('#imgGallery').html(result.imgGallery);
            }
        });

    }

</script>